@media screen and (min-width: 800px){
    
    .shadow{
        margin: 0;
        background-color: rgba(0, 0, 0, 0.752);  
    }
    
    header h1{
        font-size: 3em;
    }
    
    header select{
        width: 20%;
    }

    header > *{
        margin-bottom: 30px;
    }

    header button{
        width: 40%;
    }

    header input{
        width: 40%;
    }

    .selectH.navbar{
        width: 20%;
        height: 30%;
    }
    
    .inputH.navbar{
        width: 40%;
        height: 30%;
        border-radius: 0;
    }
    
    .buttonH.navbar{
        width: 20%;
        height: 30%;
        border-radius:  0 5px 5px 0;
    }

    #results{
        width: 90%;
        margin: auto;
        gap: 20px;
        justify-content: start;
    }

    .card{
        width: 15%;
    }

    .production{
        display: flex   ;
    }

    #productionImg{
        height: 100vh;
    }

    #productionImg img{
        width: 50%;
    }

    .blur{
        background: linear-gradient(90deg, rgba(14,0,255,0) 0%, var(--bg-color) 90%);
    }

    /*Production*/

    #productionImg{
        width: 45%;
    }

    #productionData{
        width: 55%;
        justify-content: space-around;
    }

    .titleD{
        width: 60%;
    }

    .titleD h1{
        font-size: 3em;
    }

    .imdbD{
        width: 40%;
        margin: 0;
        padding: 20px;
    }
    .descmoreD h5{
        font-size: 1.1em;
    }

    .descmoreD p{
        font-size: 1.2em;
    }

    #genre{
        padding: 15px;
        margin: 0;
    }

    .prodType{
        padding: 15px;
        margin: 0;
    }
}